@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    img { max-width: 100%; }
    .card { margin: 1em 0; }
</style>

<div class="text-center">
    <header>
        <h2 class="text-center">
            Page generated at: @DateTimeOffset.UtcNow.ToString("yyyy-MM-dd HH:mm") UTC
        </h2>
        <button id="refreshFeeds" type="button" class="btn btn-default float-end" aria-label="Refresh">
            <i class="fa fa-sync" aria-hidden="true"></i>
        </button>
    </header>
    
    <p>Got @Model.FeedItems.Length Messages</p>

    @foreach (var feedItem in Model.FeedItems)
    {
        <div class="row">
            <div class="col-8 offset-2">
                <article id="@feedItem.EncodedId" class="card">
                    <header class="card-header">
                        <a class="card-title" href="@feedItem.ItemAlternateLink" target="_blank"><h2>@Html.Raw(feedItem.Title)</h2></a>
                    </header>
                    <div class="card-body">
                        <div class="card-text">
                            @Html.Raw(feedItem.Content)
                        </div>
                    </div>
                    <footer class="card-footer text-muted text-right">
                        <small>Published: @feedItem.PublishDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm") (@feedItem.PublishDate)</small>
                    </footer>
                </article>
            </div>
        </div>
    }

</div>

@section Scripts {

    <script>

        $("#refreshFeeds").on("click", onClick_RefreshFeeds);

        function onClick_RefreshFeeds(e) {
            e.preventDefault();

            $.post("/")
                .done(() => {
                    window.location.reload();
                });
        }
    </script>
}
